<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.app.modulelogin">

    <application
        android:name="com.app.baselib.BaseApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.login.LoginActivity"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--注册-->
        <activity android:name=".ui.register.RegisterActivity"
            android:launchMode="singleTop"
            />
        <!-- 微信登录-->
        <activity android:name=".ui.wxapi.WXEntryActivity"/>


        <activity android:name=".ui.forget_password.ForgetPasswordActivity"
            android:launchMode="singleTop"
            />
        <activity android:name=".ui.forget_password.resetPassword.ResetPasswordActivity"
            android:launchMode="singleTop"
            />
    </application>

</manifest>
